<!-- Footer Area Start -->
<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md d-flex">
      <img class="mb-2" src='@Url.Content("~/images/logo.svg")' alt="">
      <small class="d-block mb-3 text-muted pt-2 ps-2">&copy; 2025</small>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Contact</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cookies Settings</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms and Condition</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Legal Information / Legal Notice</a></li>
      </ul>
    </div>
  </div>
</footer>
<!-- Footer Area End -->
