<!-- Header Area Start -->
<header>
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <img src='@Url.Content("~/images/logo.svg")' alt="" height="40px">
    <span class="ps-3 fs-4">
        Common Space @(ViewData["PageTitle"] != null ? $"» {ViewData["PageTitle"]}" : string.Empty)
      </span>
  </div>
</header>
<!-- Header Area End -->
